<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sasori.dao.CrawlerDataMapper">
	<resultMap id="BaseResultMap" type="com.sasori.model.CrawlerData">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pice" property="pice" jdbcType="DECIMAL" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="code_id" property="codeId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, pice, url, create_time, update_time, code,
		code_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from crawler_data
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		crawler_data
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sasori.model.CrawlerData">
		insert into crawler_data (id,
		name, pice,
		url, create_time, update_time,
		code, code_id)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pice,jdbcType=DECIMAL},
		#{url,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
		#{code,jdbcType=VARCHAR}, #{codeId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sasori.model.CrawlerData">
		insert into crawler_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pice != null">
				pice,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="codeId != null">
				code_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pice != null">
				#{pice,jdbcType=DECIMAL},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="codeId != null">
				#{codeId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sasori.model.CrawlerData">
		update crawler_data
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pice != null">
				pice = #{pice,jdbcType=DECIMAL},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="codeId != null">
				code_id = #{codeId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sasori.model.CrawlerData">
		update
		crawler_data
		set name = #{name,jdbcType=VARCHAR},
		pice =
		#{pice,jdbcType=DECIMAL},
		url = #{url,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		code = #{code,jdbcType=VARCHAR},
		code_id = #{codeId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<insert id="insertList" parameterType="java.util.List">
		insert into crawler_data (name, pice,
		url, create_time,
		update_time,
		code, code_id)
		values
		<foreach collection="list" separator="," item="list">
			(
			#{list.name,jdbcType=VARCHAR},
			#{list.pice,jdbcType=DECIMAL},
			#{list.url,jdbcType=VARCHAR}, 
			now(),
			#{list.updateTime,jdbcType=TIMESTAMP},
			#{list.code,jdbcType=VARCHAR},
			#{list.codeId,jdbcType=VARCHAR})
		</foreach>
	</insert>
</mapper>